{% load static%}
   
       
       
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
       
        <aside class="left-sidebar" >
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar" >
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav" id="sidebar_loader">
                    <ul id="sidebarnav">
                                
                                <li><a class="waves-effect waves-dark"  ><i class="isax isax-task"></i>
                                <span class="hide-menu">Building</span></a></li>
                                 <li><a class="waves-effect waves-dark" ><i class="bi bi-bar-chart"></i>
                                <span class="hide-menu">Building Item List</span></a></li>
                                <li><a class="waves-effect waves-dark"  ><i class="bi bi-person-plus-fill"></i>
                                <span class="hide-menu">Projects</span></a></li> 
                                <li><a class="waves-effect waves-dark" ><i class="bi bi-stack"></i>
                                <span class="hide-menu">Building Selection List</span></a></li>
                                <li><a class="waves-effect waves-dark"  ><i class="bi bi-card-list"></i>
                                <span class="hide-menu">Building Selection List Items </span></a></li>  
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div> 
            
            <!-- End Sidebar scroll-->
        </aside>
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->


       