{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static "css/base.css" %}" rel="stylesheet">
  <script type="text/javascript" src="{% static 'codebase/webix.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'codebase/webix.css' %}" />
  <link rel="stylesheet"  type="text/css"  href="{% static 'codebase/skins/mini.css' %}" />
      <!-- Custom CSS -->
  <link href={% static "css/style.css" %} rel="stylesheet">
  <link href={% static "css/custom.css" %} rel="stylesheet">
  <link href={% static "css/secondary.css" %} rel="stylesheet">
  <script src={% static "js/custom.js" %}></script>   
  <script src={% static "js/test.js" %}></script>   
  
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  
  <style>
    .highlight{
      background-color:#FFAAAA;
    }
    .highlight2{
      background-color:green;
    }

    .my_menu .webix_view{
      background-color: #ECEFF1;
    }
    .my_menu2 .webix_view{
      background-color: #DFDCDC;
    }

    .my_menu3 .webix_view{
      background-color: #DAD9D9;
    }

    .my_menu .webix_list_item{
      line-height: 35px;
      border-bottom-color: #ddd;
    }
  </style>

</head>



 <body>



  <script type = "text/javascript"charset = "utf-8" > 
  webix.ready(function()
  {
      webix.ui(
      {
          rows: [
          {
              view: "toolbar",
              padding: 3,
              elements: [
              {
                  view: "icon",
                  icon: "mdi mdi-menu-down",
                  click: function()
                  {
                      $$("$sidebar1").toggle();
                  }
              },
              {
                  view: "label",
                  label: "Prime V4",
                  click: function()
                  {
                      $$("$sidebar1").toggle();
                  }
              }, ]
          },
          {
              cols: [
              {
                  view: "sidebar",
                  data: menu_data,
                  on:
                  {
                      onAfterSelect: function(id)
                      {
                          console.log("id==>", id)
                          var columns,
                              data;
                          if (id === "project_select")
                          {
                              columns = project_columns;
                              data = project_data;
                          }
                          else if (id === "view_role_position_user")
                          {
                              columns = columns1;
                              data = data1;
                          }
                          else if (id === "task")
                          {
                              columns = task_columns1;
                              data = task;
                          }
                          var datatable = $$("mydatatable");
                          /* datatable.define("autoconfig", false);
                          datatable.define("columns", columns);
                          datatable.define("data", data);
                          datatable.refresh();*/
                          datatable.clearAll();
                          datatable.config.columns = [];
                          datatable.refreshColumns();
                          datatable.config.columns = columns;
                          datatable.refreshColumns();
                          //datatable.define("columns", columns);
                          datatable.parse(data, "json");
                          //datatable.refreshColumns();
                      }
                  }
              },
              {
                  rows: [
                  {
                      cols: [
                      {
                          id: "project_filter",
                          view: "richselect",
                          width: 130,
                          value: "All",
                          value: projects[0],
                          options: projects,
                          on:
                          {
                              onChange: function(newv, oldv)
                              {
                                  console.log("project newv==>", newv)
                                  console.log("project oldv==>", oldv)
                                  var value = (newv !== "All") ? parseInt(newv) : "";
                                  $$("mydatatable").filter(function(obj)
                                  {
                                      //return obj.gender.toLowerCase().indexOf(value.toLowerCase()) === 0;
                                      return obj.project === value;
                                  });
                              }
                          }
                      },
                      {
                          id: "view_filter",
                          view: "richselect",
                          width: 170,
                          value: views_for_project[0],
                          options: views_for_project,
                          on:
                          {
                              onChange: function(newv, oldv)
                              {
                                  console.log("view newv==>", newv)
                                  console.log("view oldv==>", oldv)
                                  var value = (newv !== "All") ? parseInt(newv) : "";
                                  $$("mydatatable").filter(function(obj)
                                  {
                                      //return obj.age === value;
                                      if (newv == 189)
                                      {
                                          if (obj.project_role_id === 41 && obj.item_id != null)
                                          {
                                              if (obj.task_status === 'ready_to_do_backlog' || obj.task_status === 'doing' || obj.task_status === 'doing_but_constrained' || obj.task_status === 'failed_cant_do')
                                              {
                                                  return true
                                              }
                                              else
                                              {
                                                  return false
                                              }
                                          }
                                          else
                                          {
                                              return false
                                          }
                                      }
                                      else if (newv == 190)
                                      {
                                          if (obj.project_role_id === 41 && obj.task_status === 'done')
                                          {
                                              return true
                                          }
                                          else
                                          {
                                              return false
                                          }
                                      }
                                      else if (newv == 191)
                                      {
                                          if (obj.assignees === 'AT Tech' && obj.task_status === 'ready_to_do_backlog')
                                          {
                                              return true
                                          }
                                          else
                                          {
                                              return false
                                          }
                                      }
                                      else if (newv == 192)
                                      {
                                          if (obj.assignees === 'QAR' && obj.task_status === 'ready_to_do_backlog')
                                          {
                                              return true
                                          }
                                          else
                                          {
                                              return false
                                          }
                                      }
                                  });
                              }
                          }
                      }]
                  },
                  {
                      id: "mydatatable",
                      view: "datatable",
                      columns: project_columns,
                      data: project_data,
                      width: 1500,
                      select: "row",
                      onClick:
                      {
                          "editBtn": function(ev)
                          {
                              $$("menu").show();
                          }
                      }
                  }]
              }]
          }]
      });
      webix.ui(
      {
          view: "sidemenu",
          id: "menu",
          width: 1700,
          position: "right",
          top: 100,
          css: "my_menu",
          body:
          {
              borderless: false,
              margin: 5,
              cols: [
              {
                  view: "sidebar",
                  data: menudata2,
                  on:
                  {
                      onAfterSelect: function(id)
                      {
                          console.log("id==>", id)
                          if (id === "views")
                          {
                              $$("menu2").show();
                          }
                      }
                  }
              },
              {
                  view: "form",
                  id: "inputForm",
                  elements: [
                      {
                          template: `
                            <div class="container">
                              <h2>Dummy Form</h2>
                              <form>
                                <div class="form-group">
                                  <label for="name">Name:</label>
                                  <input type="text" class="" id="name" placeholder="Enter name" name="name">
                                </div>
                                <div class="form-group">
                                  <label for="email">Email:</label>
                                  <input type="email" class="" id="email" placeholder="Enter email" name="email">
                                </div>
                                <div class="form-group">
                                  <label for="phone">Phone:</label>
                                  <input type="text" class="" id="phone" placeholder="Enter phone" name="phone">
                                </div>
                               
                              </form>
                            </div>  
                          `
                      },
                      /*{ cols:[
                        { view:"button", value:"Cancel", click:function(){
                          $$("inputForm").clear();
                        }},
                        { view:"button", type:"form", value:"Save", click:function(){
                          $$("inputForm").save();
                        }}
                      ]}*/
                  ]
              }]
          }
      });
      
      webix.ui(
      {
          view: "sidemenu",
          id: "menu2",
          width: 1500,
          position: "right",
          state: function(state)
          {
              state.bottom = $$("menu").$height;
          },
          css: "my_menu2",
          body:
          {
              borderless: true,
              margin: 5,
              rows: [
              {
                  id: "main",
                  template: "will do something here",
                  height: 50
              },
              {
                  id: "mydatatable2",
                  view: "datatable",
                  columns: project_view_columns,
                  data: projecct_view_data,
                  width: 1500,
                  select: "row",
                  editable: true,
                  on:
                  {
                      onAfterEditStop: function(state, editor, ignoreUpdate)
                      {
                          if (!ignoreUpdate)
                          {
                              var row = this.getItem(editor.row);
                              var checkboxValue = row.active_user ? "Yes" : "No";
                              // rest of the code for saving data to the database
                              console.log("checkboxValue", checkboxValue)
                          }
                          console.log("editor", editor.column)
                          console.log("editor", editor.row)
                          console.log("state.value", state.value)
                          console.log("state.old", state.old)
                          if (state.value != state.old)
                          {
                              // Perform an AJAX call to save the changes to the database
                              //webix.ajax().put("/update_data", { id: state.id, column: state.column, value: state.value });
                          }
                      }
                  },
                  onAfterEditStop: function(state)
                  {
                      console.log("other function ", state)
                      if (state.value != state.old)
                      {
                          // update the database with the new value of the checkbox
                          // code to save data to database
                      }
                  },
                  onClick:
                  {
                      "editBtn2": function(ev)
                      {
                          console.log("----")
                          $$("menu3").show();
                      }
                  },
                  onAfterEditStop: function(state)
                  {
                      console.log("other function ", state)
                      if (state.value != state.old)
                      {
                          // update the database with the new value of the checkbox
                          // code to save data to database
                      }
                  },
              }, ]
          }
      });




      webix.ui(
        {
            view: "sidemenu",
            id: "menu3",
            width: 1300,
            position: "right",
            state: function(state)
            {
                state.bottom = $$("menu").$height;
            },
            css: "my_menu3",
            body:
            {
                borderless: true,
                margin: 5,
                rows: [
                {
                    id: "main3",
                    template: "will do something here",
                    height: 50
                },
                {
                    id: "mydatatable3",
                    view: "datatable",
                    columns: columns4,
                    data: data4,
                    width: 1500,
                    select: "row",
                    editable: true,
                    on:
                    {
                        onAfterEditStop: function(state, editor, ignoreUpdate)
                        {
                            if (!ignoreUpdate)
                            {
                                var row = this.getItem(editor.row);
                                var checkboxValue = row.active_user ? "Yes" : "No";
                                // rest of the code for saving data to the database
                                console.log("checkboxValue", checkboxValue)
                            }
                            console.log("editor", editor.column)
                            console.log("editor", editor.row)
                            console.log("editor", editor.row)
                            console.log("state.value", state.value)
                            console.log("state.old", state.old)
                            if (state.value != state.old)
                            {
                                // Perform an AJAX call to save the changes to the database
                                //webix.ajax().put("/update_data", { id: state.id, column: state.column, value: state.value });
                            }
                        }
                    },
                    onAfterEditStop: function(state)
                    {
                        console.log("other function ", state)
                        if (state.value != state.old)
                        {
                            // update the database with the new value of the checkbox
                            // code to save data to database
                        }
                    },
                    onClick:
                    {
                        "editBtn3": function(ev)
                        {
                            console.log("----")
                        }
                    },
                   
                }, ]
            }
        });
  }); 
</script>

<script type="text/javascript" charset="utf-8">



</script>




 </body>
 
<script src={% static "assets/plugins/jquery/jquery.min.js" %}></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src={% static "plugins/popper/popper.min.js" %}></script>
    <script src={% static "assets/plugins/bootstrap/js/bootstrap.min.js" %}></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src={% static "js/jquery.slimscroll.js" %}></script>
    <!--Wave Effects -->
    <script src={% static "js/waves.js" %}></script>
    <!--Menu sidebar -->
    <script src={% static "js/sidebarmenu.js" %}></script>
    <!--stickey kit -->
    {% comment %} <script src={% static "assets/plugins/sticky-kit-master/dist/sticky-kit.min.js" %}></script> {% endcomment %}
<script src={% static "plugins/sparkline/jquery.sparkline.min.js" %}></script>

</html>