{% extends "base.html"%} 
{% load static %}

{% block title %} Dashboard {% endblock %}


{% block content %}
    
       
<script type="text/javascript" charset="utf-8">
    webix.ready(function() {
        webix.ui({
        
            responsive: "webix_datatable",
            container: "webix_datatable",
            rows: [
             {
               select: "row",
               id:"table",
               view: "datatable", 
               minHeight: 800,
               leftSplit: 4,
               pager:"pager",
               columns: [
               {
                 header: "Action",
                 template:
                   "<div class='link'> <a class='viewbtn' type='button'>View</a> </div>",
                 width: 50,
               },              
               {
                 id: "name",
                 header: {
                   text: "Name",
                   autoheight: true,
                   content: "excelFilter",
                   mode: "text",
                 },
                 sort: "string",
                 width: 113,
               },
               {
                 id: "code",
                 header: {
                   text: "Code",
                   autoheight: true,
                   content: "excelFilter",
                   css: "multiline",
                   mode: "text",
                 },
                 sort: "string",
                 width: 113,
               },
               
               {
                 id: "city",
                 header: {
                   text: "City",
                   autoheight: true,
                   content: "excelFilter",
                   css: "multiline",
                   mode: "text",
                 },
                 sort: "string",
                 width: 100,
               },
               {
                 id: "state",
                 header: {
                   text: "State",
                   autoheight: true,
                   content: "excelFilter",
                   css: "multiline",
                   mode: "text",
                 },
                 sort: "string",
                 width: 100,
               },
               {
                id: "country",
                header: {
                  text: "Country",
                  autoheight: true,
                  content: "excelFilter",
                  css: "multiline",
                  mode: "text",
                },
                sort: "string",
                width: 100,
              },
              
              {
                id: "comment",
                header: {
                  text: "Comment",
                  autoheight: true,
                  content: "excelFilter",
                  css: "multiline",
                  mode: "text",
                },
                sort: "string",
                width: 100,
              },
              {
                id: "project",
                header: {
                  text: "Project",
                  autoheight: true,
                  content: "excelFilter",
                  css: "multiline",
                  mode: "text",
                },
                sort: "string",
                width: 100,
              },
             ]
             ,
               data: [
        { id:1, name:"User Profile", code:"UserProfile29", city:"Manchester", state:"Landon",country:"England",comment:"nice",project:"Project"},
        { id:2, name:"User Profile", code:"UserProfile30", city:"Surat", state:"Gujarat",country:"India",comment:"good",project:"Project"},
        { id:3, name:"User Profile", code:"UserProfile31", city:"dfd", state:"Landon",country:"USA",comment:"Very nice",project:"Project"},
        { id:4, name:"User Profile", code:"UserProfile32", city:"dfd", state:"Landon",country:"Africa",comment:"good",project:"Project"},
        { id:5, name:"User Profile", code:"UserProfile33", city:"yhjh", state:"Landon",country:"Ireland",comment:"nice",project:"Project"},
        { id:6, name:"User Profile", code:"UserProfile34", city:"ere", state:"Landon",country:"Dubai",comment:"Very good",project:"Project"},
        { id:7, name:"User Profile", code:"UserProfile35", city:"ere", state:"Landon",country:"England",comment:"nice",project:"Project"},

    ]
             },
               {
                 id:"pager",
                 view:"pager",
                 template:"{common.first()} {common.prev()} {common.pages()} {common.next()} {common.last()}",
                 size:20,
                 group:5
               },
            ]
           }); 
    })
</script>
<div>
    
    <div id="webix_datatable" style="margin-left: 100px;
    margin-top: -30px !important;"    ></div>
    </div>
</div>
{% endblock %}
